html,body {
	margin:0;
	padding:0;
	font-size:100%;
	font-family:verdana;
}

a , img, ul, li, div {
	margin:0;
	padding:0;
	border:0;
}

p, div {
	line-height: 115%;

}
html > body p,html > body  div {
	line-height: 120%;
}
a {
	color:#000000;
}
ul {
	list-style-type: none;
}

h1 {
	
	margin:7px 0px;
}
h2 {
	color:#D34EA7;
	font-size:85%;
	margin:7px 0px;
}
h3 {	
	font-size:75%;
	margin:7px 0px;
}

#site_container {
	width: 100%;
	margin: auto;
	height: 100%;
	background-image:url("/images/bg_sliver.gif");
	background-repeat:repeat-x;
}
#main_container {
	width: 768px;
	margin: auto;
	height: 500px;
	
}
#left_side {
	float:left;
	width: 617px;	
}



#top .left{
	float:left;
	width: 618px;	
	height: 120px;
	background-image:url("/images/header_bg.gif");	
}

#top .left .search_bar {
	width: 618px;	
	height: 22px;
	float:left;
}
#top .left .search_bar h2{
	color:#990066;
	font-size:100%;
	float:left;
}
#top .left .search_bar form {
	color:#990066;
	font-size:100%;
	float:left;
	min-height:22px;
	margin:1px 0px 0px 5px;
}
html > body #top .left .search_bar form {
	
	
	margin:11px 0px 0px 5px;
}
#top .left .search_bar form .text{
	border:1px solid #BDBDBD;
	color:#666666;
	width:125px;
	float:left;
}
#top .left .search_bar form .button{
	margin:1px 0px 0px 4px;
	float:left;

}

#top .left .to_products {
	margin:32px 0px 0px 12px;
	float:left;
	clear:both;
}


.quick_basket .items {
	margin:0px;
}
#top_nav {
	width:472px;
}
#top_nav ul {
	margin:0px 0px 0px 0px;
	
}

#top_nav ul li{
	float:left;
	margin:0;
	padding:0;
	background:url("../images/tabnav/passive_right.gif") no-repeat right top;
	height:18px;
	text-align:center;
	
}
#top_nav ul li a{
	display:block;
	clear:none;
	float:left;
	background:url("../images/tabnav/passive_left.gif") no-repeat left top;
    font-size:80%;
	padding:0px 13px 0px 13px;
	text-align:center;
	text-decoration:none;
	margin:auto;
	color:black;

}

#left_main {
	float:left;
	width:130px;
	clear:both;
	margin-top:10px;
	margin:0px;
	padding:0px;

}
#left_main  a{
	text-decoration:none;
}
#left_main .left_nav {
	float:left;
	width:121px;
	margin:10px 0px 0px 6px;
}

html > body #left_main .left_nav {
	width:121px;
	margin:0px 0px 0px 12px;

}
#left_main .left_nav .product_nav {
	width:121px;
	margin:15px 0px 13px 0px;
}
#left_main .left_nav .product_nav a{
	color:#860144;
	font-size:100%;
}

#left_main .left_nav .other_nav {
	width:121px;
	margin:10px 0px 45px 0px;
}
#left_main .left_nav .other_nav a{
	color:#D34EA7;
	font-size:80%;
}


#left_main .contact_details {
	margin:10px 0px 15px 0px;
}

#left_main .contact_details img {
	float:left;
}
#left_main .contact_details p {
	float:left;
	font-size:70%;
	color:#999999;
	margin:2px 0px 0px 5px;
}

#left_main .contact_details a {
	text-decoration:underline;
	color:#999999;
}

#main_content {
	float:left;
	width:472px;
	margin-top:20px;
	padding:5px 0px;
}

#main_content .left_signpost {
	width:300px;
	border:solid 1px #D5D4D4;
	margin:10px 0px 15px 0px;
	float:left;
	padding:10px 0px 10px 0px;
	min-height:150px;
}

#main_content .right_signpost {
	width:160px;
	border:solid 1px #D5D4D4;
	margin:10px 0px 15px 8px;
	float:left;
	padding:10px 0px;
	min-height:150px;
}



#main_content .left_signpost .thumb, #main_content .right_signpost .thumb {
	float:left;
	margin:0px 0px 0px 10px;
}
#main_content .left_signpost .text {
	float:left;
	width:170px;
	margin:0px 0px 0px 10px;
}
#main_content .right_signpost .text {
	float:left;
	width:140px;
	margin:0px 0px 0px 10px;
}

#main_content p {
	font-size:70%;
	margin:10px 0px;
}
#main_content .left_signpost h2, #main_content .right_signpost h2 {
	
	margin:0px;
}
#main_content .left_signpost .more, #main_content .right_signpost .more {
	float:right;
	margin:5px 70px 0px 0px;
}
html > body #main_content .left_signpost .more,html > body #main_content .right_signpost .more {
	
	margin:10px 70px 0px 0px;
}

#main_content .left_signpost , #main_content .right_signpost  {
	height: 150px;    /* set the height for all */
}

html>body #main_content .left_signpost ,html>body #main_content .right_signpost  {
	height:auto;    /* reset the height for all but IE6 and lower */
	min-height: 130px;    /* use the correct min-height for these browsers */
}

#right_main {
	float:right;
	width:140px;
	padding:0px 0px;
	margin:0px 0px 0px 0px;
}

.quick_basket {
	
	width: 140px;	
	height: 155px;
	background-image:url("/images/qb_bg.gif");
}


.quick_basket .content {
	margin:65px 0px 0px 10px;
	font-size:70%;
}
.quick_basket .basket{
	margin:0px 0px 2px 0px;
	
}
.quick_basket a {
	font-size:90%;
	color:#000000;

}
#right_main .related_product {
	padding:5px 8px;
	margin:0px 0px 5px 0px;
}
#right_main div a {
	color:#000000;
}
#right_main .buy_button {
	clear:both;
	height:15px;
	margin:0px;
	
}
#right_main div h2 {
	font-size:85%;
	margin:0px;
	color:#ffffff;
}
#right_main div p {
	font-size:70%;
	margin:4px 0px 0px 0px;
}
#right_main div img {
	float:right;
}

#right_main .spacer {
	display:block;
	height:5px;
}
#backpain {
	width:147px;
	height:80px;
	background-image:url("/images/signpostbgs/backpain.gif");
	background-repeat:no-repeat;
}
html > body #backpain {
	width:131px;
}
#breath_easy {
	width:147px;
	height:80px;
	background-image:url("/images/signpostbgs/breath_easy.gif");
	background-repeat:no-repeat;
}
html > body #breath_easy {
	width:131px;
}
#care_kids {
	width:144px;
	height:79px;
	background-image:url("/images/signpostbgs/carekids.gif");
	background-repeat:no-repeat;
}
html > body #care_kids {
	width:128px;
}
#sleep_better {
	width:144px;
	height:78px;
	background-image:url("/images/signpostbgs/sleep_better.gif");
	background-repeat:no-repeat;
}
html > body #sleep_better {
	width:128px;
}
#more_help {
	width:144px;
	height:168px;
	background-image:url("/images/signpostbgs/more_help.gif");
	background-repeat:no-repeat;
}
html > body #more_help {
	width:128px;
	height:156px;
}
#footer {
	float:left;
	width:100%;
	clear:both;
	margin:10px 0px;
}

#footer {
	color:#999999;
	font-size:70%;
}
#footer a {
	color:#999999;
	
}
#footer p {
	margin:0px 0px 0px 12px;
	
}
/* info pages */

#breadcrumb {
	font-size:70%;
	clear:both;
	float:left;
	margin-top:12px;
	
}
#breadcrumb a {
	color:#A22765;
	
}
#breadcrumb .coloured {
	color:#A22765;
	
}
p.intro {
	color:#999999;
}

/* product detail page */

.product_details {
	width:470px;
	border:solid 1px #D9D8D8;
	margin-bottom:15px;
}

.main_images {
	width:448px;
	margin:10px 11px;
}
#main_content .product_details h2 {
	color:#000000;
	font-size:80%;
	margin:6px 11px;
}
.additional_choices {
	width:240x;
	margin:10px 11px;
	float:left;
}
.additional_choices .a_choice{
	width:95px;
	margin:0px 22px 0px 0px;
	float:left;
}
.additional_choices .a_choice_last {
	width:95px;
	margin:0px 0px 0px 0px;
	float:left;
}
.additional_choices .a_choice a, .additional_choices .a_choice_last a{
	font-size:80%;
}
.pricing {
	width:158px;
	float:left;
	margin:10px 0px 0px 0px;
}
#main_content .pricing h3{
	margin:35px 0px 0px 0px;
	font-size:110%;
	color:#3C3C60;
}

.product_option, .related_products {
	clear:both;
	width:450px;
	margin:8px 11px;
	float:left;
}

.product_option .description{
	width:223px;
	float:left;
	color:#3C3C60;
	font-size:80%;
	font-weight:bold;
}
.product_option .options{
	width:225px;
	float:left;
}
.product_option .options select{
	width:225px;
	float:right;
}

.product_option .options input{
	margin:7px 0px 0px 0px;
	float:right;
}

#main_content .related_products h2 {
	margin-left:0px;
	margin-bottom:6px;
	font-size:120%;
}
#main_content .related_products  {
	font-size:70%;
	line-height:150%;
}
#main_content .related_products fieldset {
	margin:0px;
	border:0;
	width:300px;
	float:left;
}
#main_content .related_products fieldset input {
	margin:6px 0px 0px 0px;
	border:0;

}

#main_content .related_products .calculate {
	margin:40px 0px 0px 0px;
	float:right;
}

#main_content .related_products .buy {
	margin:6px 0px 0px 0px;
	float:right;
}

#main_content .product_buy {
	width:448px;
	margin:8px 11px 12px 11px;
	float:left;
	font-size:80%;

}
#main_content .product_buy .details {	
	font-size:100%;
	float:left;
	width:300px;
	margin:0px;

}

#main_content .product_buy .buy {	
	float:right;
	margin:8px 4px 0px 0px;
}

.clear {
	clear:both;

}

#benefit_box {
	background-color:#EBEBEB;
	border:solid 1px #D9D9D9;
	width:470px;
	padding-top:5px;
	margin:10px 0px 10px 0px;
}


#benefit_box .icon {
	background-image:url("/images/icons/pointer_arrow.gif");
	background-repeat:no-repeat;
	background-position:6px 0px;
	width:38px;
	height:30px;
	float:left;
	
}


#benefit_box .a_benefit {
	font-size:70%;
	width:100%;
	clear:both;
	margin:5px 0px 0px 0px;
}
#benefit_box .a_benefit .description {
	width:430px;
	float:left;
}

h4 {
	margin:10px 0px 0px 0px;
	font-size:80%;
	display:inline;
}
#main_content .further_info {
	color:#999999;
	margin:0px 0px 10px 0px;
}
#right_main .header_image {
	margin:0px 0px 0px 0px;
	padding:0px;
}
html > body #right_main .header_image {
	
	
}
#right_main .related_products_title {
	width:144px;
	height:33px;
	background-image:url("/images/titles/tit_related_products.gif");
	background-repeat:no-repeat;
}

#right_main .related_product {
	background-color:#CC99CC;
	margin:2px 0px 0px 0px;
	width:124px;
	padding:5px 10px 0px 10px;
	font-size:70%;
}
#right_main .related_product p {	
	font-size:100%;
	padding:0px;
	float:left;
	clear:both;
	width:110px;
}
#right_main .related_product .top   {
	margin:3px 0px 5px 0px;
	padding:0px;
}
#right_main .related_product .top  p {
	float:left;
	margin:0px;	
	padding:0px;
}
#right_main .related_product .top img {
	float:right;
	margin:0px 0px 0px 0px;
}

#right_main .related_product .buy_related {
	
	margin:5px 0px 5px 80px;
}
#right_main .related_product  .product_image {
	float:left;
	margin:8px 0px 3px 0px;
}

#right_main .related_product_bottom {
	background-image:url("/images/related_bottom.gif");
	background-repeat:no-repeat;
	width:144px;
	height:7px;
}



.bordered_panel {
	width:470px;
	border:solid 1px #D9D8D8;
	margin-bottom:15px;
}
.bordered_panel img{
	float:left;

}
.bordered_panel img.first{
	margin:10px 5px 10px 10px;

}
.bordered_panel img.second{
	margin:10px 10px 10px 0px;

}
.bordered_panel div.content {
	float:left;
	width:250px;
	margin:10px 0px 10px 0px;
}
#main_content .bordered_panel div.content p{
	clear:both;
	padding:05px 0px 0px 0px;
}

#main_content .bordered_panel div.content a img{
	float:right;
	margin:5px 0px 0px 0px;
}

#main_content .more_info {
	clear:both;
	width:100%;
	float:left;
}
#main_content .more_info img {
	float:right;
	margin:5px 7px 0px 10px;
}

/* Ultima page */

.product_features_benefits img{
	float:left;

}
.product_features_benefits .content{
	float:left;
	margin:0px 0px 0px 15px;
	width:220px;
}
#main_content .product_features_benefits h2{
	
	margin:0px 0px 0px 0px;
}
#main_content .product_features_benefits p{
	
	clear:both;
}

.choose_title {
	margin:15px 0px 10px 0px;
}

#price_grid {
	border-collapse:collapse;
	width:470px;
	border-top:solid 1px #D9D9D9;
	border-bottom:solid 1px #D9D9D9;
	border-left:solid 1px #D9D9D9;
}
#price_grid th, #price_grid td {
	border-top:solid 1px #D9D9D9;
	border-bottom:solid 1px #D9D9D9;
	border-right:solid 1px #D9D9D9;
	padding:0px 3px;
}
#price_grid th {
	text-align:left;
	color: #d34ea7;
	font-size:70%;
	
}
#price_grid td {	
	font-size:70%;
}
#price_grid td input {
	margin:4px 0px 0px 2px;	
}

#main_content .feature_teaser {

	width:470px;
	border:solid 1px #D9D8D8;
	margin-bottom:15px;

}

#main_content .feature_teaser .thumbnail {
	float:left;
	margin:10px;
}

#main_content .feature_teaser .content {
	float:left;
	margin:10px 0px 10px 0px;
	width:330px;
}

#main_content .feature_teaser .content h3 {
	
	margin:00px 0px 10px 0px;
	color: #d34ea7;
}

#main_content .feature_teaser .content .more {
	
	margin:00px 0px 10px 0px;
	float:right;
}