html,body {
	margin:0;
	padding:0;
	font-size:100%;
	font-family:Arial,verdana;
}
body {
	background-image:url("/images/bg_main.gif");
}

td,th {
	font-family:Arial,verdana;
	font-size:80%;
}

a , img, ul, li, div {
	margin:0;
	padding:0;
	border:0;
}

p, div {
	line-height: 115%;

}
html > body p,html > body  div {
	line-height: 120%;
}
a {
	color:#000000;
}
ul {
	list-style-type: none;
}

h1 {
	
	margin:7px 0px;
}
h2 {
	color:#D34EA7;
	font-size:85%;
	
}
h3 {	
	font-size:80%;
	margin:7px 0px;
}

#site_container {
	width: 100%;
	margin: auto;
	background-image:url("/images/bg_sliver.gif");
	background-repeat: repeat-x;
	
	/*background-color:#E1E1E1;*/
}
#main_container {
	position:relative;
	width: 768px;
	margin: auto;
	background-color:#ffffff;
}

#top {
	width: 768px;
	margin: auto;
	height: 170px;

}


#top .left{
	float:left;
	width: 618px;
	background-image:url("/images/header_bg.gif");	
}

#top .left .search_bar {
	width: 618px;	
	height: 22px;
	float:left;
}
#top .left .search_bar h2{
	color:#990066;
	font-size:100%;
	float:left;
	margin:2px 0px 0px 0px;
}
#top .left .search_bar form {
	color:#990066;
	font-size:100%;
	float:left;
	min-height:22px;
	margin:1px 0px 0px 5px;
}
html > body #top .left .search_bar form {
	margin:4px 0px 0px 5px;
}
#top .left .search_bar form .text{
	border:1px solid #BDBDBD;
	color:#666666;
	width:125px;
	float:left;
}
#top .left .search_bar form input{
	font-size:75%;
	margin-top:2px;
	color: #6f6f6f;
}

#top .left .search_bar form .button{
	margin:2px 0px 0px 4px;
	float:left;

}

#top .left .to_products {
	margin:32px 0px 0px 12px;
	float:left;
	clear:both;
}

#top .right{
	float:left;
	width: 150px;	
	height: 155px;
	background-image:url("/images/qb_bg.gif");
}


.quick_basket {
	margin:62px 0px 0px 10px;
	font-size:75%;
}
.quick_basket .basket{
	margin:0px 0px 1px 0px;
	
}
.quick_basket a {
	font-size:90%;
	color:#000000;

}
.quick_basket .items {
	margin:0px;
}
#top_nav {
	width:100%;
	
}
#top_nav ul {
	margin:0px 0px 0px 145px;
	
}

#top_nav ul li{
	float:left;
	margin:0;
	padding:0;
	background:url("../images/tabnav/passive_right.gif") no-repeat right top;
	height:18px;
	text-align:center;
	
}
#top_nav ul li a{
	display:block;
	clear:none;
	float:left;
	background:url("../images/tabnav/passive_left.gif") no-repeat left top;
    font-size:70%;
	padding:0px 20px 1px 20px;
	text-align:center;
	text-decoration:none;
	margin:auto;
	color:black;

}
html > body #top_nav ul li a {
  

}

#left_main {
	float:left;
	width:145px;
	clear:both;
}
#left_main  a{
	text-decoration:none;
}
#left_main .left_nav {
	float:left;
	width:121px;
	margin:0px 0px 0px 6px;
}

html > body #left_main .left_nav {
	width:121px;
	margin:0px 0px 0px 12px;

}
#left_main .left_nav .product_nav {
	width:121px;
	margin:2px 0px 13px 0px;
}
#left_main .left_nav .product_nav a{
	color:#860144;
/*guillaume modif 07-05-08*/	font-size:85%;
	
}
#left_main .left_nav .product_nav li {
	margin:4px 0px 4px 0px;
}

#left_main .left_nav .product_nav a{
	
	font-weight:bold;
	
}
#left_main .left_nav .product_nav ul  {
	display:none;
 }
#left_main .left_nav .product_nav li ul li {
	margin:7px 0px 7px 8px;	
	line-height:85%;
 }

#left_main .left_nav .product_nav li ul li a {
	font-size:80%;
	margin:0px;
 }

 #left_main .left_nav .product_nav li.selected a {
		color:#000000;
 }
 #left_main .left_nav .product_nav li.selected ul  {
	display:block;
 }
#left_main .left_nav .product_nav ul  {
	display:none;
 }
 #left_main .left_nav .product_nav ul  li {
	
 }
#left_main .left_nav .product_nav li.selected li a {
	color:#860144;
	margin:0px;
 }
   #left_main .left_nav .product_nav li.selected li.selected a {
		color:#000000;		
 }
#left_main .left_nav .other_nav {
	width:121px;
	margin:10px 0px 45px 0px;
}

#left_main .left_nav .other_nav  li {
	line-height:12px;
	margin:9px 0px;
}
#left_main .left_nav .other_nav a{
	color:#D34EA7;
	font-size:75%;
	font-weight:bold;
	
}


#left_main .contact_details {
	margin:10px 0px 15px 0px;
}

#left_main .contact_details img {
	float:left;
}
#left_main .contact_details p {
	float:left;
	font-size:75%;
	color:#999999;
	margin:2px 0px 0px 5px;
}

#left_main .contact_details a {
	text-decoration:underline;
	color:#999999;
}

#main_content {
	float:left;
	width:473px;
	padding:5px 0px;
}
#main_content h1 {
	font-size:90%;
}

#main_content .left_signpost {
	width:300px;
	border:solid 1px #D5D4D4;
	margin:10px 0px 15px 0px;
	float:left;
	padding:10px 0px 10px 0px;
	min-height:150px;
}

#main_content .right_signpost {
	width:160px;
	border:solid 1px #D5D4D4;
	margin:10px 0px 15px 8px;
	float:left;
	padding:10px 0px;
	min-height:150px;
}



#main_content .left_signpost .thumb, #main_content .right_signpost .thumb {
	float:left;
	margin:0px 0px 0px 10px;
}
#main_content .left_signpost .text {
	float:left;
	width:170px;
	margin:0px 0px 0px 10px;
}
#main_content .right_signpost .text {
	float:left;
	width:140px;
	margin:0px 0px 0px 5px;
}
html > body #main_content .right_signpost .text {
	margin:0px 0px 0px 10px;

}
#main_content p {
	font-size:75%;
	margin:10px 2px 10px 0px;
	
}

#main_content .text p {
	margin:2px 0px;
}
#main_content .left_signpost h2, #main_content .right_signpost h2 {
	
	margin:0px;
}
#main_content .left_signpost .more, #main_content .right_signpost .more {
	float:right;
	margin:5px 70px 0px 0px;
}
html > body #main_content .left_signpost .more,html > body #main_content .right_signpost .more {
	
	margin:10px 70px 0px 0px;
}

#main_content .left_signpost , #main_content .right_signpost  {
	height: 130px;    /* set the height for all */
}

html>body #main_content .left_signpost ,html>body #main_content .right_signpost  {
	height:auto;    /* reset the height for all but IE6 and lower */
	min-height: 130px;    /* use the correct min-height for these browsers */
}
#main_content ul {
	width:465px;
}
#main_content ul li {
	list-style-type: disc;
	font-size:75%;
	margin:3px 0px 3px 20px;
}
html > body #main_content ul li {
	
	font-size:75%;
	
}
#right_main {
	float:right;
	width:147px;
	padding:0px 0px;
	margin:0px 0px 0px 0px;
}

#right_main .related_product {
	padding:5px 8px;
	margin:0px 0px 5px 0px;
	
}

#right_main div a {
	color:#000000;
}
#right_main .buy_button {
	clear:both;
	height:15px;
	margin:0px;
	
}
#right_main div h2 {
	font-size:85%;
	margin:0px;
	color:#ffffff;
}
#right_main div p {
	font-size:75%;
	margin:4px 0px 0px 0px;
}
#right_main div img {
	float:right;
	margin-right:5px;
}

#right_main .spacer {
	display:block;
	height:5px;
}
#right_main .signpost {
	padding:0px 0px 0px 0px;
		
	float:left;
	clear:both;
}

#right_main .signpost h2 {
	margin-left:6px;	
}
#right_main .signpost p {
	margin:2px 6px 2px 6px;
	

}
html > body #right_main .signpost {
	
	margin-top:0px;
}
#right_main #backpain img {
	float:right;
	margin-right:7px;
}
#backpain {
	margin:0px;
	background-image:url("/images/signpostbgs/backpain.gif");
	background-repeat:no-repeat;	
}

#backpain_bottom {
	height:7px;	
	background-image:url("/images/signpostbgs/backpain_bottom.gif");
	background-repeat:no-repeat;	
	float:left;
	width:144px;
	margin-bottom:5px;
}

#breath_easy {
	width:144px;
	background-image:url("/images/signpostbgs/breath_easy.gif");
	background-repeat:no-repeat;
	margin-top:40px;
	margin-top:-13px;
}

html > body #breath_easy {
margin-top:0px;
	
}
#breath_easy_bottom {	
	height:7px;
	background-image:url("/images/signpostbgs/breath_easy_bottom.gif");
	background-repeat:no-repeat;
	float:left;
	width:144px;
	margin-bottom:5px;
}

#care_kids {
	width:144px;	
	background-image:url("/images/signpostbgs/care_kids.gif");
	background-repeat:no-repeat;
	margin-top:-13px;
}
html > body #care_kids {
	margin-top:03px;
}
#care_kids_bottom {
	
	height:7px;
	background-image:url("/images/signpostbgs/care_kids_bottom.gif");
	background-repeat:no-repeat;
	float:left;
	width:144px;
	margin-bottom:5px;
}


#sleep_better {
	width:144px;
	background-image:url("/images/signpostbgs/sleep_better.gif");
	background-repeat:no-repeat;
	margin-top:-13px;
}
html > body #sleep_better {

	margin-top:03px;
}
#sleep_better_bottom {
	width:147px;
	height:7px;
	background-image:url("/images/signpostbgs/sleep_better_bottom.gif");
	background-repeat:no-repeat;
	float:left;
	width:144px;
	margin-bottom:5px;
}

#more_help_bottom {
	width:147px;
	height:7px;
	background-image:url("/images/signpostbgs/more_help_bottom.gif");
	background-repeat:no-repeat;
	float:left;
	width:144px;
}

#more_help {
	width:144px;
	background-image:url("/images/signpostbgs/more_help.gif");
	background-repeat:no-repeat;
	margin-top:-13px;
}

#footer {
	width:768px;
	float:left;
	clear:both;
	margin:10px 0px;
	color:#999999;
	font-size:80%;
}


#footer a {
	color:#999999;
	
}
#footer p {
	margin:0px 0px 0px 12px;
	clear:both;
}
/* info pages */
.clear_page {
	
	
	height:20px;
}
#breadcrumb {
	font-size:75%;
	
	margin:0px 0px 10px 0px;
	padding-top:5px;
}
#breadcrumb a, .coloured {
	color:#A22765;
	
}

p.intro {
	color:#6F6F6F;
}

/* product detail page */

.product_details {
	width:470px;
	border:solid 1px #D9D8D8;
	margin-bottom:15px;
}
.product_details .about_text {
	width:450px;	
	margin:10px;
}
#main_content .product_details .about_text h3 {
	
	
	margin-bottom:0px;
	padding-bottom:0px;
}
.main_images {
	width:448px;
	margin:10px 0px 10px 10px;
}
html > body .main_images {
	
	margin:10px 11px;
}
#main_content .product_details h2 {
	color:#000000;
	font-size:80%;
	margin:6px 11px;
}
.additional_choices {
	width:240x;
	margin:10px 11px;
	float:left;
}
.additional_choices .a_choice{
	width:95px;
	margin:0px 22px 0px 0px;
	float:left;
}
.additional_choices .a_choice_last {
	width:95px;
	margin:0px 0px 0px 0px;
	float:left;
}
.additional_choices .a_choice a, .additional_choices .a_choice_last a{
	font-size:80%;
}
.pricing {
	width:158px;
	float:left;
	margin:10px 0px 0px 0px;
}
#main_content .pricing h3{
	margin:35px 0px 0px 0px;
	font-size:110%;
	color:#3C3C60;
}

.product_option, .related_products {
	clear:both;
	width:435px;
	margin:8px 11px;
	float:left;
}

.product_option .description{
	width:223px;
	float:left;
	color:#3C3C60;
	font-size:80%;
	font-weight:bold;
}
 .product_details .description{
	width:223px;
	padding-top:10px;
	clear:both;
	color:#3C3C60;
	font-size:100%;
	font-weight:bold;
}
.product_option .options{
	width:225px;
	float:left;
}
.product_option .options select{
	width:225px;
	float:right;
}

.product_option .options input{
	margin:7px 0px 0px 0px;
	float:right;
}

#main_content .related_products h2 {
	margin-left:0px;
	margin-bottom:6px;
	font-size:120%;
}
#main_content .related_products  {
	font-size:75%;
	line-height:150%;
}
#main_content .related_products fieldset {
	margin:0px;
	border:0;
	width:300px;
	float:left;
}
#main_content .related_products fieldset input {
	margin:6px 0px 0px 0px;
	border:0;

}

#main_content .related_products .calculate {
	margin:40px 0px 0px 0px;
	float:right;
}

#main_content .related_products .buy {
	margin:6px 0px 0px 0px;
	float:right;
}

#main_content .product_buy {
	width:448px;
	margin:8px 0px 12px 11px;
	float:left;
	font-size:80%;

}
#main_content .product_buy .details {	
	font-size:100%;
	float:left;
	width:300px;
	margin:0px;

}

#main_content .product_buy .buy {	
	float:right;
	margin:8px 4px 0px 0px;
}

.clear {
	clear:both;
	line-height:0px;
	height:0px;
}

#benefit_box {
	background-color:#EBEBEB;
	border:solid 1px #D9D9D9;
	width:470px;
	padding-top:5px;
	margin:10px 0px 10px 0px;
}


#benefit_box .icon {
	background-image:url("/images/icons/pointer_arrow.gif");
	background-repeat:no-repeat;
	background-position:6px 0px;
	width:38px;
	height:30px;
	float:left;
	
}


#benefit_box .a_benefit {
	font-size:75%;
	width:100%;
	clear:both;
	margin:5px 0px 0px 0px;
}
#benefit_box .a_benefit .description {
	width:430px;
	float:left;
}

h4 {
	margin:10px 0px 0px 0px;
	font-size:80%;
	display:inline;
}
#main_content .further_info {
	color:#999999;
	margin:0px 0px 10px 0px;
	width:100%;
}
#right_main .header_image {
	margin:0px 0px 0px 0px;
	padding:0px;
}
html > body #right_main .header_image {
	
	
}
#right_main .related_products_title {
	width:144px;
	height:33px;
	background-image:url("/images/titles/tit_related_products.gif");
	background-repeat:no-repeat;
}

#right_main .related_product {
	background-color:#CC99CC;
	margin:2px 0px 0px 0px;
	width:124px;
	padding:5px 10px 0px 10px;
	font-size:75%;
}
#right_main .related_product p {	
	font-size:110%;
	padding:0px;
	float:left;
	clear:both;
	width:110px;
}
#right_main .related_product .top   {
	margin:3px 0px 5px 0px;
	padding:0px;
}
#right_main .related_product .top  p {
	float:left;
	margin:0px;	
	padding:0px;
}
#right_main .related_product .top img {
	float:right;
	margin:0px 0px 0px 0px;
}

#right_main .related_product .buy_related {
	
	margin:5px 0px 5px 80px;
}
#right_main .related_product  .product_image {
	float:left;
	margin:8px 0px 3px 0px;
}

#right_main .related_product_bottom {
	background-image:url("/images/related_bottom.gif");
	background-repeat:no-repeat;
	width:144px;
	height:7px;
}



.bordered_panel {
	width:470px;
	border:solid 1px #D9D8D8;
	margin-bottom:15px;
}
.bordered_panel img{
	float:left;

}
.bordered_panel img.first{
	margin:10px 5px 10px 10px;

}
.bordered_panel img.second{
	margin:10px 10px 10px 0px;

}
.bordered_panel div.content {
	float:left;
	width:250px;
	margin:10px 0px 10px 0px;
}
#main_content .bordered_panel div.content p{
	clear:both;
	padding:05px 0px 0px 0px;
}

#main_content .bordered_panel div.content a img{
	float:right;
	margin:5px 0px 0px 0px;
}

#main_content .more_info {
	clear:both;
	width:100%;
	float:left;
}
#main_content .more_info img {
	float:right;
	margin:5px 7px 0px 10px;
}

/* Ultima page */

.product_features_benefits img{
	float:left;
	margin:0px 12px 10px 0px;

}

#main_content .product_features_benefits h2{
	
	margin:0px 0px 0px 0px;
	
	
}

#main_content .product_features_benefits h3{
	color: #000000;
	font-size: 80%;
}

#main_content .product_features_benefits p{
	
		margin:10px 7px 0px 0px;
	
}
#main_content h2.grid_header {
	float:left;
	clear:both;
	margin:13px 0px;
}
.choose_title {
	margin:15px 0px 10px 0px;
}

#price_grid {
	float:left;
	border-collapse:collapse;
	width:470px;
	border-top:solid 1px #D9D9D9;
	border-bottom:solid 1px #D9D9D9;
	border-left:solid 1px #D9D9D9;
}
#price_grid th, #price_grid td {
	border-top:solid 1px #D9D9D9;
	border-bottom:solid 1px #D9D9D9;
	border-right:solid 1px #D9D9D9;
	padding:0px 3px;
}
#price_grid th {
	text-align:left;
	color: #d34ea7;
	font-size:80%;
	white-space:nowrap;
}
#price_grid td {	
	font-size:75%;
	
}
#price_grid td form{	
	display:inline;
	
}
#price_grid td input {
	margin:4px 0px 0px 2px;	
}
#main_content hr {
	border:solid 1px #860067;
	width:470px;
}
#main_content .feature_teaser, .sub_range, .search_results {

	width:470px;
	border:solid 1px #D9D8D8;
	margin-bottom:15px;
	float:left;
}
.sub_range a {
	text-decoration:none;
}

#main_content .sub_range .content .price {
	margin:2px 0px;
}
#main_content .feature_teaser .thumbnail {
	float:left;
	margin:10px;
}
#main_content .feature_teaser .thumbnail2 {
	float:left;
	margin:10px 10px 10px 0px;
}
#main_content .feature_teaser .content {
	float:left;
	margin:10px 0px 10px 0px;
	width:330px;
}
#main_content .search_results .content {
	float:left;
	margin:10px 0px 10px 0px;
	width:310px;
}
#main_content .search_results .content p{
	
	margin:5px 0px 5px 0px;
	width:310px;
}
#main_content .feature_teaser .content h3  {
	
	margin:00px 0px 10px 0px;
	color: #d34ea7;
}
#main_content .search_results .content h3  {
	
	margin:00px 0px 5px 0px;
	color: #d34ea7;
}



#main_content .feature_teaser .content .more {
	
	margin:00px 0px 10px 0px;
	float:right;
}


.sub_range .thumbnail, .search_results .thumbnail {
	float: left;
	margin:10px;
}

.sub_range .thumbnail_two,#main_content .sub_range .thumbnail2 {
	float: left;
	margin:10px 10px 10px 00px;
}
#main_content .sub_range .low_margin {
	margin:0px 0px 5px 0px;
	width:100px;
}
#main_content .sub_range .content ,main_content  .search_results  .content{
	margin:0px 5px 5px 0px;
}
#main_content .sub_range h3, #main_content .search_results h3 {
	margin:10px 0px 0px 0px;
	color:#CF41A0;
}

#main_content .sub_range .buttons,#main_content .search_results .buttons {
	text-align:center;
}
#main_content .sub_range .content p {
	margin:5px 0px 8px 0px;
	float:right;
	width:250px;
}
#main_content  h2.cat_further_info, div.cat_further_info {
	color:#3C3C60;
	margin:0px;
	font-size:80%;
}

#main_content .sub_range .button_buy
 {
	float:right;
	clear:both;
}
#main_content .sub_range .button_buy input
 {
	margin:0px;
}
 div.cat_further_info {
	
	font-size:75%;
}

/* basket cases */

.basket_table, .cart_table {
	border-collapse:collapse;
	
	border:solid 1px #D9D8D8;
	
	width:470px;
}
.cart_table {
	
}
 .basket_table td, .cart_table td {
	padding:6px 6px;
	
}
.basket_table th, .cart_table th{
	padding:3px 6px;
}
.basket_table th, .cart_table th{
	background-color:#CC99CC;
	color:#ffffff;
	text-align:left;
	border:solid 1px #CC99CC;
	
}
.basket_table td, .cart_table td{
	color:#666666;
	border-bottom:solid 1px #D9D8D8;
	border-left:solid 1px #D9D8D8;
	
}
.basket_table td.sub_total, .cart_table  td.sub_tota{

	border-right:solid 1px #D9D8D8;

}


/* search page pagination */

.pr_pagination {
	margin:0px;
	font-size:75%;
	float:left;
	
}
.pr_pagination_L {
	float:left;
	font-size:75%;
	margin:0px;
}
.pr_pagination_M {
	margin:0px;
	float:left;
	font-size:75%;
}
.pr_pagination_R {
	margin:0px;
	float:left;
	font-size:75%;
}

.login_table {

	border-collapse:collapse;
} 

.login_table h3 {
	font-size:100%;
}
#main_content .login_table td p{
	font-size:120%;
}
.login_table td label{
	font-size:115%;
}
.register_table td {
	font-size:75%;
}

.text td h3 {
	font-size:100%;
}
#main_content .text td p {
	font-size:100%;
}

.error {
	font-size:75%;
	color:#A22765;
}
.register_table td .error {
	font-size:100%;
}
fieldset {
	border:0px;
}
#main_content #content_spacer {
	height:150px;
}

#main_content .bottom_grid {
	float:left;
	clear:both;
	margin-top:15px;
	width:100%;
}

.strike {
	color:red;

	text-decoration:line-through;
}

