h1 {
	
	
	color:#D34EA7;
	font-size:13px;
}
h2 {
	color:#D34EA7;
	font-size:12px;
	
}
h3 {	
	font-size:11px;
	margin:7px 0px;
}
a .coloured{
	color: #000000;

} 
p {
	font-size:11px;
}
li {
	font-size:11px;
}
